[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/user1/Desktop/Fusion360_dxgi.log]
row=7
col=0

[/home/user1/Desktop/FRC VS Code 2021.desktop]
row=4
col=0

[/home/user1/Desktop/steam.desktop]
row=5
col=0

[/home/user1/Desktop/Fusion360_d3d11.log]
row=6
col=0

[/home/user1/Desktop/Beat Saber.desktop]
row=8
col=0

[/home/user1/Desktop/Autodesk Fusion 360.desktop]
row=9
col=0

[2CBA6F1CBA6EE236]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/user1]
row=3
col=0

